env/
.DS_Store
Docker/__pycache__

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

backend/data/data.json
backend/data/job_descriptions.csv
backend/data/data_old.csv
backend/data/reviews_old.csv


jobscraper/

node_modules

Makefile
