

<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - BestSuited</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <link rel="icon" href="../static/images/logo.png"  type="image/x-icon">
    <script src="../static/index.js"></script>

</head>

<body>
    <div class="full-body-container">
        <div class="top-text">
            <!-- <div class="google-colors">
               <h1 id="google-4">4</h1>
               <h1 id="google-3">3</h1>
               <h1 id="google-0-1">0</h1>
               <h1 id="google-0-2">0</h1>
           </div> -->
            <div class="header">
                <img src="../static/images/header.png" alt="header">
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for a job title, company or skills" id="filter-text-val"
                    onkeyup="filterText()">
            </div>
        </div>
        <div class="filter-opt">
            <label for="filter-opts">Sort by</label>
            <select id="filter-opts">
                <option value="">Select</option>
                <option value="rating">Company Rating</option>
                <option value="workhappiness">Work Happiness Score</option>
                <option value="learning">Learning Happiness Score</option>
                <option value="appreciation">Appreciation Score</option>
                <option value="purpose">Purpose Score</option>
                <option value="flexibility">Flexibility Score</option>
                <option value="achievement">Achievement Score</option>
                <option value="inclusion">Inclusion Score</option>
                <option value="support">Support Score</option>
                <option value="energy">Energy Score</option>
                <option value="trust">Trust Score</option>
                <option value="compensation">Compensation Score</option>
                <option value="belonging">Belonging Score</option>
                <option value="management">Management Score</option>
            </select>
            <button id="sort-direction-btn">&#9650;</button>
        </div>
        <div class="salary-input-container">
            <div class="salary-input">
                <div class="salary-field">
                    <span>Minimum Salary</span>
                    <input type="number" class="min-salary" value="15000">
                </div>
                <div class="salary-field">
                    <span>Maximum Salary</span>
                    <input type="number" class="max-salary" value="250000">
                </div>
            </div>
            <div class="slider-container">
                <div class="salary-slider">
                </div>
            </div>
            <div class="range-input">
                <input type="range" class="min-range" min="15000" max="250000" value="50000" step="5000">
                <input type="range" class="max-range" min="15000" max="250000" value="132500" step="5000">
            </div>
        </div>
        <div id="answer-box">


        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>